@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Zugang verweigert";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Sie haben keinen Zugang zu dieser Ressource.</p>
</header>
