@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "E-Mail Bestätigen";
}

<h1>@ViewData["Title"]</h1>

<p>@Model.StatusMessage</p>
<p>@Model.StatusMessageAdditional</p>

<a asp-page="./Login">Anmelden</a>
