@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Password Zurücksetzen Bestätigen";
}

<h1>@ViewData["Title"]</h1>
<p>
    Bitte prüfen Sie Ihre E-Mail, um Ihr Passwort zurückzusetzen.
</p>

<a asp-page="./Login">Anmelden</a>
