@page
@model LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Sie haben sich erfolgreich bei der Anwendung abgemeldet.</p>
</header>

<a asp-page="./Login">Anmelden</a>
