@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registrierung Bestätigen";
}

<h1>@ViewData["Title"]</h1>
@{

<p>
    Bitte prüfen Sie Ihre E-Mail, um Ihr Konto zu bestätigen.
</p>

<a asp-page="./Login">Anmelden</a>

}
