@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Passwort Geändert";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ihr Passwort wurde erfolgreich geändert.
</p>

<a asp-page="./Login">Anmelden</a>
