@import "../../../variables";

tbody {
  border-top: none !important;
}

thead {
  background-color: $white;

  th {
    font-weight: $font-weight-normal;
    text-transform: capitalize;
  }
}

.table-container {
  // TODO get max available height
  max-height: 50vh;
  overflow-y: auto;
}

// helpers for table col width
@for $i from 1 through 25 {
  $width: 100% / $i;
  .width__#{$i} {
    max-width: $width;
    width: $width;
  }
}
