<app-page-title [title]="schoolClass" [showBack]="true" [showEdit]="false"
                [showBreadcrumb]="true" [breadcrumbItems]="breadcrumbs"></app-page-title>

<ng-container *ngIf="studentsMarkTableData.length > 0">
    <app-students-mark-table [data]="studentsMarkTableData" (detail)="onDetail($event)"
                             [ratingCategoriesDefinition]="ratingCategoriesDefinition"></app-students-mark-table>
</ng-container>

<ng-container *ngIf="studentsMarkTableData.length === 0">
    <p class="text-muted mt-4">Sie wurden (noch) keiner Klasse zugeteilt. Versuchen Sie es später noch einmal.</p>
</ng-container>

