<div class="error d-flex justify-content-center">
    <div>
        <div class="row error__icon">
            <div class="col d-flex justify-content-center">
                <i class="bi bi-bug"></i>
            </div>
        </div>
        <div class="row mt-2 mb-2">
            <div class="col d-flex justify-content-center">
                <h4 *ngIf="errorType !== null">{{ error }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <a [routerLink]="['/']">Zur Startseite</a>
            </div>
        </div>
    </div>
</div>
