name: Docker / stable
on:
  push:
    workflow_dispatch:
    branches:
      - master
concurrency: gbs_myperformance-stable
jobs:
  docker-stable:
    uses: ./.github/workflows/docker.yml
    with:
      APP_TAG: stable
    secrets:
      DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
      DOCKER_REGISTRY_USERNAME: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
      DOCKER_REGISTRY_TOKEN: ${{ secrets.DOCKER_REGISTRY_TOKEN }}
